.posts{
    padding-top: 30px;
    font-size: 40px;
}

.post{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 20px;
}

.post::before{
    content: '';
    border: 1px solid rgb(255, 230, 0);
    border-radius: 20px;
    padding: 5px 18px;
    background-color: rgb(255, 230, 0);
    margin-right: 10px;
    
    
}

.button{
    display: flex;
    justify-content: flex-end;
}

button{
    background-color: rgb(18, 194, 18);
    outline: none;
    border: 1px solid rgb(18, 194, 18);
    border-radius: 20px;
    padding: 20px 60px;
    font-size: 20px;
    color: white;
}

textarea{
    margin-top: 20px;
    width: 1000px;
    height: 200px;
}