.avatar{
    width: 40%;
    height: 90%;
    padding-left: -100px;
}

.profile{
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: -20px;
}

img{
    width: 50%;
    height: 50%;
}
