.avatar{
    width: 40%;
    height: 100%;
    margin-left: 20px;
    max-width: 450px;
    max-height: 450px;
    
}

.profile{
    font-size: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

}

img{
    width: 50%;
    height: 50%;
}


span{
    font-weight: 500;
    font-size: 30px;
}