.header{
    grid-area: h;
    background-color: rgb(18, 194, 18);
    margin-top: 20px;
  
  }
  
  .header img{
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
  
  }

  .login__block{
    float: right;
  }
  
  .login__block a{
    color: white;
    font-size: 25px;
  }
  