.dialog{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.content{
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
    display: flex;
    gap: 220px;
    flex-direction: row;
    padding-bottom: -20px;

}

.from{
    
    font-weight: 500;
}

.photo{
    position: relative;
    display: flex;
    height: 200px;
    width: 200px;
}

h1{
    font-size: 25px;
}


.messages{
    margin-top: 60px;
    max-width: 350px;
}

textarea{
    font-size: 20px;
    
}

.btn{
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 10px;
    
}

.btn:hover{
    background-color: rgb(34, 155, 4);
    transition: .6s all ease;
}