.dialog{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.content{
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
    display: flex;
    gap: 220px;
    flex-direction: row;
    padding-bottom: -20px;

}

.from{
    
    font-weight: 500;
}

.photo{
    position: relative;
    display: flex;
    height: 200px;
    width: 200px;
}

h1{
    font-size: 25px;
}


.messages{
    margin-top: 60px;
    max-width: 350px;
}
