.dialog{
    display: flex;
    flex-direction: row;
}

.content{
    border: 1px solid #dddddd;
    background-color: #dddddd;
    font-size: 20px;
    width: 50%;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    padding-bottom: -20px;

}

.from{
    
    font-weight: 500;
}

.photo{
    position: relative;
    display: flex;
    /* justify-content: left; */
    height: 200px;
    width: 200px;



}